@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "ProductIndex";
    //Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Item</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <p>
                @Html.ActionLink("Create New", "ItemSettings")
            </p>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5> Index</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <td style="font-size:medium">Main Category</td>
                                <td style="font-size:medium">Category</td>
                                <td style="font-size:medium">Sub Category</td>
                                
                                <td></td>
                            </tr>
                        </thead>
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>